# Dependencies
node_modules

# Build outputs
dist
build

# Testing
coverage
*.test.ts
*.spec.ts

# Logs
*.log

# Environment
.env
.env.local
!.env.example

# IDE & OS
.vscode
.idea
.DS_Store

# Git
.git
.gitignore

# Docs
*.md
!README.md
